---
title: MMHW 2013
---

#pt-main.pt-perspective
  .pt-page.login.pt-page-current
    %h1
      %strong Login
    %p
      Please login by whistling your favorite tune
    %ul#password
    .mic
      .trigger-pulse
      .trigger
        %img{:src => image_path('mic.png')}

  .pt-page.logout
    %h1
      %strong Welcome
    %p#name
    %p
      %img#avatar
    %a.button{'href' => 'javascript:void(0);', 'onclick' => 'Authentication.logout()'} Log out
%canvas#fft{:height=> "300", :width=>"800"}

%footer
  %a{:href => 'https://userbin.com', :target => '_NEW'}
    %small Not that into whistling? Set up user accounts in minutes with:
    %img{:src => image_path('userbin@2x.png'), :width => '98', :height => '26'}


